# 1. Exploring and checking

In [10]:
import json
full_coco = json.load(open('/home/jess/ct_classifier_wd/data/intermediate/cls_coco.json'))

In [11]:
full_coco['images'][0]

{'file_name': 'Red Kangaroo/PCAM01_2021-05-24_17-58-33_M_1_3_7.JPG',
 'height': 254,
 'width': 349,
 'id': 'PCAM01_2021-05-24_17-58-33_M_1_3'}

In [12]:
full_coco['annotations'][0]

{'id': '8697519e-3c93-11ee-bfaa-22169906f295',
 'image_id': 'PCAM01_2021-05-24_17-58-33_M_1_3',
 'category_id': 0,
 'iscrowd': 0,
 'segmentation': [],
 'area': 88646}

In [13]:
full_coco['categories']

[{'id': 0, 'name': 'Red Kangaroo'},
 {'id': 1, 'name': 'Kangaroo'},
 {'id': 2, 'name': 'Dingo'},
 {'id': 3, 'name': 'Rabbit'},
 {'id': 4, 'name': 'Cat'},
 {'id': 5, 'name': 'Emu'},
 {'id': 6, 'name': 'Bird'},
 {'id': 7, 'name': 'Pig'},
 {'id': 8, 'name': 'Euro'},
 {'id': 9, 'name': 'Fox'},
 {'id': 10, 'name': 'Echidna'},
 {'id': 11, 'name': 'Western Grey Kangaroo'},
 {'id': 12, 'name': 'Small mammal'},
 {'id': 13, 'name': 'Other'},
 {'id': 14, 'name': 'Goat'}]

In [14]:
print(len(full_coco['images']))
print(len(full_coco['annotations']))

28673
28673

In [15]:
# import pandas as pd

cat_id = []
for annotation in full_coco['annotations']:
    cat_id.append(annotation['category_id'])

In [26]:
from collections import Counter

counts = Counter(cat_id)

In [44]:
# splits = []

for item in counts.values():
    train = int(item*0.75)
    val = int(item*0.15)
    test = item-val-train
    print('train: ', train, ' val: ', val, ' test :', test)
    # print(item)

train:  13593  val:  2718  test : 1813
train:  1774  val:  354  test : 238
train:  138  val:  27  test : 20
train:  1254  val:  250  test : 168
train:  2249  val:  449  test : 301
train:  447  val:  89  test : 60
train:  973  val:  194  test : 131
train:  49  val:  9  test : 8
train:  55  val:  11  test : 8
train:  30  val:  6  test : 5
train:  18  val:  3  test : 3
train:  221  val:  44  test : 30
train:  575  val:  115  test : 77
train:  27  val:  5  test : 4
train:  97  val:  19  test : 14

# 2. Split

In [34]:
counts[0]

18124